@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  .prose {
    --tw-prose-body: #334155;
    --tw-prose-headings: #0f172a;
    --tw-prose-lead: #475569;
    --tw-prose-links: #2563eb;
    --tw-prose-bold: #0f172a;
    --tw-prose-counters: #64748b;
    --tw-prose-bullets: #cbd5e1;
    --tw-prose-hr: #e2e8f0;
    --tw-prose-quotes: #0f172a;
    --tw-prose-quote-borders: #e2e8f0;
    --tw-prose-captions: #64748b;
    --tw-prose-code: #0f172a;
    --tw-prose-pre-code: #e2e8f0;
    --tw-prose-pre-bg: #1e293b;
    --tw-prose-th-borders: #cbd5e1;
    --tw-prose-td-borders: #e2e8f0;
  }
}
